@import url(../css/reset/reset.css);

.table-wrap {
  width: 970px;
  margin: 0 auto;

  table {
    width: 100%;
    margin-top: 100px;

    thead {
      background-color: #fbfbfb;
    }

    tbody {
      td {
        width: 16%;
        opacity: 0.8;
      }
    }

    td {
      padding: 25px 0 24px;
      text-align: center;
      font-size: 15px;
      font-weight: 400;
      border: 1px solid #e9e9e9;
    }
  }

  .bg-pink {
    background-color: #f3ecec;
    color: #96323a;
  }

  .title {
    background-color: #fbfbfb;
  }
}
